# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#build folder
build/

#compiled python scripts
*.pyc

#osx finder stuff
.DS_STORE

#vim swap file
*.swp
